.app {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 48, 58);
  }
  
  .cardFlip {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
  }
  
  .cardFlip:hover {
    transform: scale(0.98);
  }
  
  .card-image {
    height: auto;
    width: calc(100% - 90px);
  }
.btn:hover{
  text-decoration: none;
}