@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bungee+Shade&family=Rock+Salt&family=Train+One&family=Work+Sans&display=swap');
*{
}

.gamecards{
    transition: transform 400ms;
}

.gamecards:hover{
    transform: scale(1.06);
}

.myscores{
    color: #bf95f9;
    font-family: 'Bungee Shade', cursive;
}
.buttonHov{
    transition: transform 100ms;
}
.buttonHov:hover{
    transform: scale(0.95);
}
.userTitle{
    font-family: 'Rock Salt', cursive;
}

.cardHover{
    transition: transform 400ms;
}
cardHover:hover{
    transition: transform 400ms;
}

.sharkHov{
    transition: 700ms;
}

.sharkHov:hover{
    transition: transform 400ms;
}